.not_active {
  color: rgba(204, 204, 204, 1);
  font-weight: 500;
  font-size: 16px;
}
.active {
    border-radius: 12px;
    background: rgba(236, 35, 43, 1);
    color: #fff;
    padding: 10px 16px;
}
